.btn {
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 10px 50px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:disabled {
    background-color: #bdbdbd;
}
